#jinja2:lstrip_blocks: True
## {{ ansible_managed }}
integration_name: com.newrelic.redis

instances:
{% for instance in nrinfragent_redis_instances %}
  - name: {{ instance.name }}
    command: {{ instance.command }}
    arguments:
    {% for argument in instance.arguments %}
      {{ argument }}
    {% endfor %}
    labels:
    {% for label in instance.labels %}
      {{ label }}
    {% endfor %}
{% endfor %}
